@{
    ViewBag.Title = "Nguyễn Văn Thạo";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài thi giữa kỳ của Nguyễn Văn Thạo - Cam Kết không đạo văn</h3>

<address>
   K22CNT1 - Môn lập trình ứng dụng web với công nghệ Asp.net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nguyenvanthao@gmail.com">nguyenvanthao@gmail.com</a><br />
    <strong>Cá nhân:</strong> <a href="mailto:vanthao@gmail.com">vanthao@gmail.com</a>
</address>